.wrapper {
    background-color: #f7f7f8;
    height: 700px;

    .item {
        width: 800px;
        margin: 50px auto;

        button {
            height: 30px;
        }

        .box {
            width: 350px;
            height: 136px;
            border: 1px solid #dadada;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            margin-top: 30px;

            h2 {
                color: rgb(89, 139, 231);
            }
        }

        .wrapperBox {
            display: grid;
            grid-template-columns: 10fr 1fr;
        }

        .pagination {
            margin-top: 50px;
            margin-left: 290px;
        }
    }
}